*{
    margin: 0;
    padding: 0;
}

/*CONTAINER*/
#site-container {
    width: 100%;
    margin: auto;
}

/*HEAD DO SITE*/
#site-header {
    width:100%;
    height: 60px;
    background-color: #a47da4;
    padding: 10px;
    box-sizing: border-box;
}

/*Logo*/
#site-header h1 {
    font-family: "Pacifico", cursive;
    margin:-5px 0 0 10%;
    float: left;
    font-weight: 300;
    font-style: normal;
    color: 	#ffffff;
    font-size: 23px;
}

/*Menu*/

#site-header ul {
    font-family: arial; 
    list-style: none;
    float: right;
    margin-right: 10%;
}

#site-header li {
    padding: 12px;
    display: inline-block;
    color: white;
    font-size: 14px;
}

/*SITE BODY*/

#site-body {
    width:80%;
    background-color: red;
    margin: auto;
    margin-top: 5px;
}

.div-product {
    width:300px;
    height: 500px;
    background-color: #ffffff;
    float: left;
    margin-left:50px;
    box-sizing: border-box;
    padding: 65px 75px 0 75px;
}

.div-product img {
    width: 150px;
    height: 250px;
}

.div-product h2 {
    font-size: 11px;
    color: #555151;
    padding: 5px;
}

.div-product h1 {
    font-size: 14px;
    font-family: arial;
    padding: 5px;
    width: 100%;
    color: #555151;
}

.div-product h3 {
    font-size: 13px;
    font-family: arial;
    padding: 5px;
    color: #555151;
}

.div-product button {
    width: 150px;
    height: 35px;
    font-family: arial;
    border-radius: 3px;
    border: none;
    background-color: #a47da4;
    color: white;
    margin-top:5px;
}

  
  