{% load  static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Jo Perfumaria</title>
        <link rel='stylesheet' href={% static 'css/style.css' %}>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Outfit&family=Pacifico&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="site-header">
            <h1>Jo Perfumaria</h1>
            <ul>
                <li><a href={% url 'index' %}>Inicio</a></li>
                <li><a href={% url 'promotions' %}>Promoções</a></li>
                <li><a href={% url 'contact' %}>Contato</a></li>
                {% if user.is_authenticated %}
                    <li id="user-login"><span class="span-default span1">Bem Vindo </span><span class="span-default span2">{{user}}</span></li>
                    <li id="btn-login"><a href={% url 'logout' %}>Sair</a></li>
                {% else %}
                    <li id="btn-login"><a href={% url 'login' %}>Entrar/Cadastrar</a></li>
                {% endif %}
            </ul>
        </div>
        <div id="site-body">
            {% block sitebody %}

            {%endblock%}
        </div>
        <div id="site-footer">

        </div>
    </body>
</html>