{% load  static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Jo Perfumaria</title>
        <link rel='stylesheet' href={% static 'css/style.css' %}>
        {% block csslink %}
        {% endblock %}
        {% comment %} <link rel='stylesheet' href={% static 'css/accounts/style.css' %}> {% endcomment %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Outfit&family=Pacifico&display=swap" rel="stylesheet"> 

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    </head>
    <body>
        <div id="site-header">
            <h1>Jo Perfumaria</h1>
            <a href={% url 'checkout' %}><div id="container-checkout"><span style="font-size:39px;" class="material-symbols-outlined">shopping_bag</span></div></a>
            {% comment %} <img style="float:right; margin-right:7%;" src="{% static 'images/checkout.png' %}" alt="carrinho de compra" width="40" height="40"></a> {% endcomment %}
            <ul>
                <li><a href={% url 'products' %}>Inicio</a></li>
                {% comment %} <li><a href={% url 'promotions' %}>Promoções</a></li> {% endcomment %}
                <li><a href={% url 'contact' %}>Contato</a></li>
                {% if user.is_authenticated %}
                    <li id="user-login"><span class="span-default span1">Bem Vindo </span><span class="span-default span2">{{user}}</span></li>
                    <li id="btn-login"><a href={% url 'logout' %}>Sair</a></li>
                {% else %}
                    <li id="btn-login"><a href={% url 'login' %}>Entrar/Cadastrar</a></li>
                {% endif %}
               
            </ul>
        </div>
        <div id="site-body">
            {% block sitebody %}

            {%endblock%}
        </div>
        <div id="site-footer">

        </div>
    </body>
</html>