<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Jo Perfumaria</title>
        <link rel='stylesheet' href="../static/style.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Outfit&family=Pacifico&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="site-container">
            <div id="site-header">
                <h1>Jo Perfumaria</h1>
                <ul>
                    <li>Inicio</li>
                    <li>Sobre</li>
                    <li>Catálago</li>
                    <li>Promoção</li>
                    <li>Contato</li>
                </ul>
            </div>
            <div id="site-body">
                {% block sitebody %}
                {%endblock%}
            </div>
            <div id="site-footer">
                
            </div>
        </div>
    </body>
</html>