{% extends 'base.html' %}
{% load static %}
{% block sitebody %}
    <div id="categories">
        <ul>
            {% for category in categories %}
                <li><a href={% url 'products' category.slug %}>{{category.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% for product in products %}
        <div class="div-product div-prduct1">
            <img src={% static 'upload/hidratante.webp' %} />
            <h2>{{product.line}}</h2>
            <h1>{{product.title}}</h1>
            <h3>Preço: R${{product.price}}</h3>
            <button>Adicionar</button>
        </div>
    {% endfor %}
    {{error}}
{% endblock %}