{% extends 'base.html' %}
{%load static %}
{% block sitebody %}
    {% block  categories%}{% endblock%}
    {% block  search_filter%}
    {% block icon-contact %}{% endblock  %}
    {%endblock%}
    <div id="container-product-detail">
        <div id="container-small-divs">
            <div class="container-small-image-product-detail">
                <img class="image-detail-small" src={% static product_image %} >
            </div>
            <div class="container-small-image-product-detail">
                <img class="image-detail-small" src={% static product_image %} >
            </div>
            <div class="container-small-image-product-detail">
                <img class="image-detail-small" src={% static product_image %} >
            </div>
        </div>
        <div class="container-big-image-product-detail">
            <img class="image-detail" src={% static product_image %} width="300" height="300">
            <div class="container-information-detail"> 
                <h1>Kaika Perfume Masculino Oboticario MAN</h1>
                <h3>20% de desconto</h3>
                <h3>De R$ 120,99</h3>
                <h3>Por R$ 120,99</h3>
            </div> 
        </div>       
    </div>
{% endblock %}