html {
    font-size:62.5%;
}

*{
    font-family:arial;
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}

/*CONTAINER*/
#site-container {
    width: 100%;
    margin: auto;
}

/*HEAD DO SITE*/
#site-header {
    width:100%;
    height: 50px;
    background-color: #a47da4;
}

/*Logo*/
#site-header h1 {
    font-family: "Pacifico", pacifico;
    font-size: 2.3rem;
    margin:0 0 0 10%;
    float: left;
    font-weight: 300;
    font-style: normal;
    color: 	#ffffff;
}

/*Menu*/

#site-header ul {
    width: auto;
    height: 50px;
    font-family:arial, helvetica;
    list-style: none;
    float: right;
    margin-right: 3%;
}

#site-header li {
    font-size: 1.4rem;
    margin:0 5px 0 5px;
    display: inline-block;
    font-weight: 600;
    padding:17.5px 0 17.5px 0;
}

/* #site-header li:hover {
    background-color: #b28fb1;
    border-radius: 8px;
} */

#site-header li a {
    text-decoration: none;
    color: #f9f9f9;
}

#btn-login {
    /* background-color: #916c91; */
    border-radius: 3px;
}

#menu-float {
    display: none;
}

/*CORPO DO SITE*/
#site-body {
    width:80%;
    min-height: 613px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin: 10px auto 200px auto;
    
}


/***
   search field
*/

#container_search_field {
    width: 100%;
    
    display: none;
    /* background: green; */
    /* border: 1px solid #b6b6b6; */
}

#site-body #div-search-filter {
    /* background: red; */
    /* border: 1px solid #000; */
    width: 100%;
    height: 40px;
}

#search_filter_mobile {
    display: none;
}

#site-body #div-search-filter form {
    width: 100%;
    /* float: right; */

    /* border: 1px solid #ff0000; */
}

#site-body #div-search-filter form input {
    width: 250px;
    height: 32px;
    padding-left: 6px;
    box-sizing: border-box;
    color: #4c494c;
    border: 2px solid gray;
    border-radius: 5px;
    margin-left:10px;
    float: right;
    outline: 0;
    position: relative;
    top:-30px;
}

#site-body #div-search-filter form #btn-search {
    width: 90px;
    height: 32px;
    font-weight: 600;
    background: #916c91;
    color:white;
    float: right;
    margin-right:6%;
}
/***
    BODY categories
*/
#site-body #categories {
    clear: both;
    background-color: #ffffff;
}

#site-body #categories ul {
    margin-top: 10px;
}

#site-body #categories li {
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 0.8vw;
    padding: 10px;
    display: inline-block;
    
    
}

#site-body #categories li:hover {
    background-color: #eadfea;
    border-radius: 4px;
}

#site-body #categories li a {
    text-decoration: none;
    color: #4c494c;
    /* border: 1px solid #000; */
}

/***
   Slide Site
*/

#container-slide {
    width: 800px;
    height: auto;
    margin: auto;
    margin-top: 20px;
    /* border: 1px solid #ff0000; */
    overflow: hidden;
    /* box-shadow:2px 3px 15px 3px #b28fb1; */
    /* border-radius: 5px; */
}

.radio-select {
    display: none;
}

#div-slides {
    width: 2400px;
    height: 400px;
    display: flex;
    /* border: 1px solid #000; */
}

.div-images {
    width: 800px;
    height: auto;
    transition: .9s;
}

.images {
    width: 800px;
    height: 400px;
    display: block;
    margin:auto;
    border-radius: 3px;
} 

#slide-navigation {
    width:110px;
    height: 30px;
    /* border: 1px solid #000; */
    margin: auto;
    /* margin-top: 20px; */
}


#slide-navigation label {
    width:18px;
    height: 18px;
    display: block;
    float: left;
    border-radius: 40px;
    /* background-color: #747474;  */
    margin:5px 0 0 15px;
    border: 2px solid #747474;
    cursor: pointer;
}

#slide-navigation label:hover {
   background-color: #cccccc;
   transition: .6s;
}

#radio1:checked ~ .slide-first-image {
    margin-left:0;
}

#radio2:checked ~ .slide-first-image {
    margin-left: -800px;
}

#radio3:checked ~ .slide-first-image {
    margin-left: -1600px;
} 

/***
    Carrinho total preco
*/

#total-buy {
    font-family:arial; 
    background:green; 
    border-radius:5px; 
    color:#fff; 
    float:right; 
    font-size:1.4rem; 
    box-sizing:border-box; 
    margin-top:4px;
    padding:8px;
}

/***
    BODY Products
*/

#container-products {
    width:auto;
    /* min-width:60%; */
    /* height: 500px; */
    /* border: 1px solid #000; */
    margin: auto;
}

.div-product {
    width:300px;
    /* min-width:25%;*/
    /* min-width:25%; */
    height: 565px;
    background-color: #ffffff;
    float: left;
    /* margin-left:5px; */
    box-sizing: border-box;
    padding: 65px 75px 0 75px;
    /* position:relative; */

    /* border: 1px solid #000; */
}

#circle-discount {
    width:60px; 
    height:60px; 
    background:green; 
    font-family:arial; 
    border-radius:50px; 
    border:1px solid #000;
}

#circle-discount h3{
    color:white; 
    font-size:1.1rem; 
    text-align:center; 
    margin-top:33%;
}


.div-product img {
    width: 150px;
    height: 250px;
}

.div-product h2 {
    color: #555151;
    padding: 5px;
}

.div-product h1 {
    font-family: arial;
    padding: 0.5rem;
    width: 100%;
    color: #555151;
}

.div-product h3 {
    font-family: arial;
    padding: 0.5rem;                                                                                                                  
    color: #555151;
}

#container_information_title_product {
    width:200px; 
    height:60px;
    margin: auto;
}

.precoproduct {
    font-family: arial;
    padding: 5px;                                                                                                                  
    color: #e90707;
    text-decoration: line-through;
}

#btn-add-product {
    /* width: 150px;
    height: 35px; */
    text-align: center;
    font-family: arial;
    border-radius: 3px;    
    background-color: #a47da4;
    color: white;
    padding: 1rem;
    margin-top:5px;
    border: none;

}

/*LOGIN FORM*/

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}


.span2 {
    text-transform: capitalize;
}

#site-header ul  #user-login:hover {
    /* background-color: #916c91; */
    color: #cec3ce;
}

.span-default {
    /* color: #555251; */
    color: #d6d0d0;
}

#user-login {
    /* background-color: #916c91; */
    border-radius: 3px;
    color: #fff;    
}


/*Carrinho*/
#container-checkout {
    width: auto;
    height: auto;
    color: #e6e6e6;
    float: right;
    margin-right: 10%;
    /* background-color: red; */
    margin-top: 4px;
    box-sizing: border-box;
}

#container-checkout a {
    color: #fff;
}

#container-checkout span {
    font-size: 4rem;
}

.car-container {
    width: 80%;
    height: auto;
    /* background:  #a47da4; */
    margin:auto;
    margin-top:60px;

    /* border: 1px solid #000; */
}


/*RODA PE DO SITE*/
#site-footer {
    clear: both;
    width:100%;                                                                                                                                                   
    height: 300px;
    background-color: rgba(92, 48, 100, 0.852);
}

/* carrinho de compra*/
#container-image-section-product {
    width: 32%;
    height: auto;
    margin:0 0 2rem 1%;
    float:left;
    /* position:relative; */
    /* float: left; */
/*  */
    border: 1px solid #000;

}

#container-image-section-product img {
    width: 150px;
    height: 250px;
    float:left;
}

.btns-product-mobile {
    display: none;
}

.section-product {    
    width: 45%;
    height: 200px;
    /* padding-top: 10px; */
    float:left;
    font-family: "arial";
    /* font-weight: 600; */
    font-style: normal;
    margin-top:20px ;
   
}


.section-product p {
    margin:10px 0 0 10px;
    font-size: 1.5rem;
}   

.btns-product {
    clear:both;
    width:100px;
    height: 100px;
    padding: 5px;
}

.btns-product button {
    width:100px;
    height: 30px;
    clear:both;
    border: none;
    background-color: #b28fb1;
    color: #fff;
    border-radius: 3px;
    margin-top: 3px;
}


.catainer-checkout-empty {
    font-family: arial;
   
    text-align: center;
    width:70%;
    height: auto;
    padding: 2rem;
    margin:100px;
    margin: auto;
    color: #c5c5c5;

    /* border: 1px solid #000; */
}

.catainer-checkout-empty h1 {
    display: inline;
    font-size: 12vw;
    width: auto;
}

/* DETAIL PRODUCT */

#container-product-detail {
    width: 80%;
    height: auto;
    margin:auto;
    margin-top: 200px;
    padding: 5px;
    display: flex;
    justify-content: center;

    /* border: 1px solid black; */
}

#container-small-divs {
    width: auto;
    height: auto;
    /* border: 1px solid black; */
    /* float: left; */
    /* margin: 30px 0 0 0px ; */
}

.container-small-image-product-detail {
    width:120px;
    height: 130px;
    border: 1px solid rgb(212, 209, 209);
    /* margin: 10px; */
}

/* .container-small-image-product-detail3{
    float: left;
    width:130px;
    height: 130px;
    border: 1px solid black;
    margin: 10px;
} */

.container-big-image-product-detail{
    width:500px;
    height: 80%;    
    /* margin: 10px; */
    display: flex;
    justify-content: center;
    /* float: left; */
    /* position: relative; */
    /* padding: 85px; */
    box-sizing: border-box;

    /* border: 1px solid black; */
}

.image-detail {
    max-width:200px;
    max-height: 600px;
    /* border: 1px solid black; */
}

.image-detail-small {
    width:90px;
    height:120px;
}

.container-information-detail {
    width:200px;
    height: 200px;
    padding: 20px;
    /* border: 1px solid #000; */
    
}

.container-information-detail h1 {
    margin-bottom: 40px;
    font-family: arial;
    font-size: 16px;
    margin-left: 30px ;

}

.container-information-detail h3 {
    margin-left: 30px ;
    margin-bottom: 9px;
    font-family: arial;
    font-size: 1.2rem;
    color: #555151;
}

.teste {
    clear: both;
    font-family: arial;
   float: left;
    
    padding: 5px;
    position: relative;
    
}

div .message-error {
    width: 100%;
    height: 30px;
    background: red;
    color: #fff;
    font-family: Arial;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
}

div .message-success {
    width: 100%;
    height: 30px;
    background: rgb(28, 218, 107);
    color: #fff;
    font-family: Arial;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
}

.div-modal {
    font-family: arial;
    font-size: 2rem;
    color:white;
    position: fixed;
    display: none;
    padding: 15px;
    width:410px;
    height:120px;
    background-color:#a47da4;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    text-align: center;
}

.div-modal button {
    background:#916c91;
    color: white;
    font-family: arial;
    width: 100px;
    padding:10px;
    margin: 10px;
    border: none;
}

.div-modal.open-modal {
    font-family: arial;
    color:white;
    position: fixed;
    display: block;
    padding: 15px;
    width:410px;
    height:120px;
    background-color:#a47da4;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    text-align: center;
}

.div-modal.open-modal button {
    background:#916c91;
    color: white;
    font-family: arial;
    font-size: 16px;
    width: 100px;
    padding:10px;
    margin: 10px;
    border: none;
}

#contianer-information-product p{
    padding:10px 
}


#icon-contact {
    position:fixed;
     width:80px;
    height:80px; 
    left:90%; 
    top:80%;
}

#icon-contact img {
    width:80px;
    height:80px; 
}

